# Temp files.
.*.swp
*.pyo
*.pyc
__pycache__/

# W3m stores everything in config dir.
w3m/cookie
w3m/history
# Ranger cache/data.
ranger/bookmarks
ranger/history
ranger/tagged
ranger/colorschemes/__init__.py
# XFCE4 hardware info: specific to a machine.
xfce4/xfconf/xfce-perchannel-xml/displays.xml
xfce4/xfconf/xfce-perchannel-xml/pointers.xml
# XFCE4 desktop icon cache.
xfce4/desktop/icons.screen*.rc
# PulseAudio cache (very smart for the guy who invented XDG directory spec, way to go Lennart).
pulse/
pavucontrol.ini
# Vimperator cache/data.
vimperator/info/*/history-command
vimperator/info/*/history-search
vimperator/info/*/ignored-keys
vimperator/info/*/local-marks
vimperator/info/*/macros
vimperator/info/*/quickmarks
vimperator/info/*/url-marks
# Dconf dump of user config.
dconf/user
# Qt cache
Trolltech.conf
# Transmission has a lot of cache, and its config contains lots of personal data like pwds and dirs.
transmission-remote-gtk/
transmission-daemon/
transmission/
# Firefox runtime
firefox/.parentlock
firefox/lock
firefox/*.sqlite-shm
firefox/*.sqlite-wal
firefox/*.sqlite-journal
firefox/weave/logs/error-sync-*.txt
# Firefox cache/state
firefox/_CACHE_CLEAN_
firefox/Cache/
firefox/OfflineCache/
firefox/browser-extension-data/
firefox/startupCache/
firefox/sessionCheckpoints.json
firefox/sessionstore.js
firefox/blocklist.xml
firefox/blocklist-addons.json
firefox/blocklist-gfx.json
firefox/blocklist-plugins.json
firefox/blocklists/addons.json
firefox/blocklists/plugins.json
firefox/cert8.db
firefox/cert9.db
firefox/cert_override.txt
firefox/compatibility.ini
firefox/extensions.ini
firefox/extensions.sqlite
firefox/pluginreg.dat
firefox/search.json
firefox/search.json.mozlz4
firefox/urlclassifier*.sqlite
firefox/xulstore.json
firefox/ghostery/
firefox/jetpack/
firefox/times.json
firefox/revocations.txt
firefox/sessionstore-backups/
firefox/storage/
firefox/adblockplus-rules.json
firefox/adblockplus
firefox/notificationstore.json
firefox/gm_scripts/*.db
firefox/addons.json
firefox/extensions.json
firefox/cache2
firefox/safebrowsing
firefox/firebug/annotations.json
firefox/firebug/breakpoints.json
firefox/crashes/store.json.mozlz4
firefox/gmp-gmpopenh264/1.6/*gmpopenh264*
firefox/AlternateServices.txt
firefox/SecurityPreloadState.txt
firefox/datareporting/
firefox/saved-telemetry-pings/
firefox/weave/failed/tabs.json
firefox/weave/toFetch/tabs.json
firefox/favicons.sqlite
firefox/blocklists/addons.json
firefox/serviceworker.txt
firefox/protections.sqlite
firefox/security_state/data.safe.bin
firefox/settings/main/ms-language-packs/asrouter.ftl
firefox/shield-preference-experiments.json
# Firefox local/share
firefox/sessionstore.jsonlz4
firefox/gm_scripts/Display_LaTeX/display-latex.user.js
firefox/key3.db
firefox/secmod.db
firefox/signons.sqlite
firefox/SiteSecurityServiceState.txt
firefox/extensions/
firefox/content-prefs.sqlite
firefox/cookies.sqlite
firefox/formhistory.sqlite
firefox/permissions.sqlite
firefox/places.sqlite
firefox/webappsstore.sqlite
firefox/downloads.json
firefox/logins.json
firefox/containers.json
firefox/kinto.sqlite
firefox/storage.sqlite
firefox/weave/changes/greasemonkey.json
firefox/storage-sync.sqlite
firefox/brief.sqlite
firefox/pkcs11.txt
firefox/TRRBlacklist.txt
firefox/key4.db
firefox/gmp-gmpopenh264/*/gmpopenh264.info
firefox/gmp-gmpopenh264/*/libgmpopenh264.so
# Purple cache
purple/accels
purple/certificates
purple/icons
purple/xmpp-caps.xml
# Purple data (should be stored in XDG_DATA_HOME?)
purple/logs
purple/accounts.xml
purple/blist.xml
purple/pounces.xml
purple/status.xml
purple/telegram-purple
# Freeciv (stores config only in HOME, so thinks that ~/.config is HOME)
freeciv/freeciv-server_history
freeciv/saves
# OpenTTD
openttd/hs.dat
# SVN
subversion/README.txt
subversion/servers
subversion/auth/
# LibreOffice
libreoffice/4/user/config/autotbl.fmt
libreoffice/4/user/config/javasettings_Linux_x86.xml
libreoffice/4/user/extensions/buildid
libreoffice/4/user/extensions/*/lastsynchronized
libreoffice/4/user/gallery/sg30.sdv
libreoffice/4/user/gallery/sg30.thm
libreoffice/4/user/psprint/pspfontcache
libreoffice/4/user/uno_packages/cache/
libreoffice/4/user/database/biblio/biblio.dbf
libreoffice/4/user/database/biblio/biblio.dbt
libreoffice/4/user/database/biblio.odb
libreoffice/4/user/database/evolocal.odb
libreoffice/4/user/registrymodifications.xcu
libreoffice/4/user/extensions/bundled/extensions.pmap
libreoffice/4/user/pack/*.pack
libreoffice/4/user/pack/*/*.pack
libreoffice/4/user/pack/*/*/*.pack
libreoffice/4/user/config/*.fmt
libreoffice/4/user/config/javasettings_Linux_*.xml
# FreeRDP
freerdp/known_hosts
freerdp/known_hosts2
# Enchant (for some reason does not recognize $ENCHANT_CONFIG_DIR)
enchant/*.dic
enchant/*.exc
# Gimp state.
gimp/colorrc
