.*.swp
*.pyo

vim/.netrwhist
moc/cache/
moc/last_directory
moc/pid
moc/playlist.m3u
moc/equalizer
moc/softmixer
moc/last_track
w3m/cookie
w3m/history
zdoom/*.zds
prboom-plus/*.dsg
prboom-plus/*.dat
instead/saves/
ranger/bookmarks
ranger/history
ranger/tagged
ranger/colorschemes/__init__.py
dosbox/russian.txt
xfce4/xfconf/xfce-perchannel-xml/displays.xml
xfce4/xfconf/xfce-perchannel-xml/pointers.xml
supertux/save
xfce4/desktop/icons.screen*.rc
pulse/
