xfce4-desktop.xml filter=ignorewallpaper
xfce4-panel.xml filter=ignore_systray_visibility
xfce4-notifyd.xml filter=remove_known_applications
xfce4-settings-manager.xml filter=remove_xfce_window_size
moc/config filter=ignore_moc_fastdir
gajim/config filter=gajim_config
insteadrc filter=insteadrc_remove_state
firefox/stylish.sqlite filter=sqlite_text_dump
firefox/*.json.lz4 filter=mozLz4
firefox/addonStartup.json.lz4 filter=addonStartupLz4
firefox/*.json filter=pretty_json
firefox/handlers.json filter=firefox_handlers_json
firefox/broadcast-listeners.json filter=firefoxBroadcastListeners
firefox/prefs.js filter=firefox_pref_js
firefox/gm_scripts/config.xml filter=firefox_userscript_config
firefox/mimeTypes.rdf filter=firefox_mimetypes
purple/prefs.xml filter=pidgin_prefs
.freeciv-client-rc-2.4 filter=freeciv_rc
openttd/openttd.cfg filter=openttd_config
openttd/windows.cfg filter=openttd_config
subversion/config filter=svn_config
gtk-2.0/gtkfilechooser.ini filter=gtkfilechooser
gimp/menurc filter=gimp_menurc
gimp/pluginrc filter=gimp_pluginrc
gimp/tags.xml filter=gimp_tags
xfce4/xfce4-screenshooter filter=expand_homedir
*.bau filter=zipfile
*.bau diff
mc/ini filter=mc_ini
*.reg diff
libreoffice/4/user/extensions/bundled/registry/*/*.xml filter=pretty_xml
checkio/config.ini filter=checkio_config
QtProject.conf filter=qtproject_conf

xfce4/** caps=home
xinitrc caps=home
w3m/* caps=home
libreoffice/** caps=home
gtk-2.0/** caps=home
gtk-3.0/** caps=home
gtk-3.0.bak/** caps=home
gimp/** caps=home
gconf/** caps=home
gedit/** caps=home
gajim/** caps=home
dosbox/* caps=home
instead/* caps=home
Thunar/* caps=home
Terminal/terminalrc caps=home
firefox/** caps=home
mpv/* caps=home
pygod/* caps=home
vimperator/* caps=home
purple/* caps=home
prboom-plus/* caps=home
openttd/* caps=home
freeciv/* caps=home
fbless/* caps=home
moc/** caps=home
naev/* caps=home
mplayer/* caps=home
klavaro/* caps=home
autostart/dropbox.desktop caps=home
QtProject.conf caps=home
mimeapps.list caps=home

bin/audiostreaming caps=home
bin/backlight_off caps=home
bin/clean-firefox-addonStartup.py caps=home
bin/clean-firefox-prefs.sh caps=home
bin/clean-firefox-userscripts.sh caps=home
bin/clean-freeciv-rc.sh caps=home
bin/clean-openttd-cfg.sh caps=home
bin/debpackage.py caps=home
bin/eyerest caps=home
bin/firefox caps=home
bin/notification caps=home
bin/open_exif_relation caps=home
bin/pidgin_has_unread caps=home
bin/play_signal caps=home
bin/post_torrent.sh caps=home
bin/quakestyle caps=home
bin/screenshot caps=home
bin/text-to-speech caps=home
bin/timed-notification caps=home
bin/volume caps=home
bin/wallpaper caps=home
bin/xfce-leds caps=home
bin/xfce-leds-genmon.sh caps=home
lib/instant_messaging.bash caps=home
umi0451/inventory.conf caps=home
umi0451/minefield.conf caps=home
umi0451/pomodoro.conf caps=home
xdg/bin/dosbox caps=home
xdg/bin/mocp caps=home
xdg/bin/pidgin caps=home
xdg/bin/prboom caps=home
xdg/bin/sylpheed caps=home

.gitattributes caps=work
.gitconfig caps=work
.gitfilters caps=work
.gitignore caps=work
.gitmodules caps=work
caps.py caps=work
Makefile caps=work
README.md caps=work
WindowsTerminal/settings.json caps=work
Xresources caps=work
bash/aliases.inc.bash caps=work
bash/bashrc caps=work
bash/colors.inc.bash caps=work
bash/dotfiles_info.3.inc.bash caps=work
bash/dotfiles_info.default.inc.bash caps=work
bash/dotfiles_info.inc.bash caps=work
bash/prompt.inc.bash caps=work
bin/ascii caps=work
bin/autocommit caps=work
bin/backup caps=work
bin/bpp caps=work
bin/check_network caps=work
bin/clipcp caps=work
bin/colortest caps=work
bin/colortest.d/color-table caps=work
bin/colortest.d/source-code caps=work
bin/colortest.d/space-invaders caps=work
bin/crontab-env.cmd caps=work
bin/crontab.py caps=work
bin/dailyupdate caps=work
bin/dailyupdate.d/00.setup.py caps=work
bin/dailyupdate.d/01.update_git_submodules.py caps=work
bin/dailyupdate.d/05.lib_unittest.py caps=work
bin/edit-symlink caps=work
bin/filterconf caps=work
bin/git-archive.py caps=work
bin/idiff caps=work
bin/lock_ws caps=work
bin/mail2file.py caps=work
bin/mozLz4.py caps=work
bin/pipefiles caps=work
bin/projects caps=work
bin/repeat caps=work
bin/search.sh caps=work
bin/shebang.py caps=work
bin/sort-xml caps=work
bin/sqlitedump caps=work
bin/terminal.py caps=work
bin/todo caps=work
bin/top caps=work
bin/unittest caps=work
bin/update_crontab.py caps=work
bin/urldecode caps=work
bin/user-env.cmd caps=work
bin/userstate caps=work
bin/vcvarsall.py caps=work
bin/windows/create_lnk.vbs caps=work
bin/windows/free.py caps=work
bin/windows/xprintidle.py caps=work
bin/winregistry.py caps=work
bin/xdg caps=work
bin/zipdump caps=work
checkio/config.ini caps=work
crontab caps=work
dir_colors caps=work
docs/howto.md caps=work
docs/profile.md caps=work
dotfiles_info.cfg caps=work
git/config caps=work
git/gitignore caps=work
include/build.mak caps=work
include/build/main_.mak caps=work
include/build/main_JavaWindows_NT.mak caps=work
include/build/main_Windows_NT.mak caps=work
include/tracedebugging.h caps=work
lib/Makefile caps=work
lib/arrays.bash caps=work
lib/clckwrkbdgr/__init__.py caps=work
lib/clckwrkbdgr/_six.py caps=work
lib/clckwrkbdgr/backup/__init__.py caps=work
lib/clckwrkbdgr/backup/_base.py caps=work
lib/clckwrkbdgr/backup/handlers/__init__.py caps=work
lib/clckwrkbdgr/backup/handlers/sevenzip.py caps=work
lib/clckwrkbdgr/click.py caps=work
lib/clckwrkbdgr/collections.py caps=work
lib/clckwrkbdgr/commands.py caps=work
lib/clckwrkbdgr/dummy.py caps=work
lib/clckwrkbdgr/filterconf/__init__.py caps=work
lib/clckwrkbdgr/filterconf/_base.py caps=work
lib/clckwrkbdgr/filterconf/test/__init__.py caps=work
lib/clckwrkbdgr/filterconf/test/test_base.py caps=work
lib/clckwrkbdgr/filterconf/test/test_txt.py caps=work
lib/clckwrkbdgr/filterconf/txt.py caps=work
lib/clckwrkbdgr/firefox.py caps=work
lib/clckwrkbdgr/fs.py caps=work
lib/clckwrkbdgr/jobsequence/__init__.py caps=work
lib/clckwrkbdgr/jobsequence/context.py caps=work
lib/clckwrkbdgr/jobsequence/sequence.py caps=work
lib/clckwrkbdgr/math.py caps=work
lib/clckwrkbdgr/net.py caps=work
lib/clckwrkbdgr/pyshell.py caps=work
lib/clckwrkbdgr/logging.py caps=work
lib/clckwrkbdgr/test/test_logging.py caps=work
lib/clckwrkbdgr/text.py caps=work
lib/clckwrkbdgr/test/__init__.py caps=work
lib/clckwrkbdgr/test/test_backup.py caps=work
lib/clckwrkbdgr/test/test_click.py caps=work
lib/clckwrkbdgr/test/test_collections.py caps=work
lib/clckwrkbdgr/test/test_commands.py caps=work
lib/clckwrkbdgr/test/test_dummy.py caps=work
lib/clckwrkbdgr/test/test_firefox.py caps=work
lib/clckwrkbdgr/test/test_fs.py caps=work
lib/clckwrkbdgr/test/test_jobsequence.py caps=work
lib/clckwrkbdgr/test/test_math.py caps=work
lib/clckwrkbdgr/test/test_net.py caps=work
lib/clckwrkbdgr/test/test_pyshell.py caps=work
lib/clckwrkbdgr/test/test_todo.py caps=work
lib/clckwrkbdgr/test/test_userstate.py caps=work
lib/clckwrkbdgr/test/test_utils.py caps=work
lib/clckwrkbdgr/test/test_workstation.py caps=work
lib/clckwrkbdgr/test/test_xdg.py caps=work
lib/clckwrkbdgr/test/test_text.py caps=work
lib/clckwrkbdgr/todo/__init__.py caps=work
lib/clckwrkbdgr/todo/provider/__init__.py caps=work
lib/clckwrkbdgr/todo/provider/todo_dir.py caps=work
lib/clckwrkbdgr/todo/tasklist.py caps=work
lib/clckwrkbdgr/userstate.py caps=work
lib/clckwrkbdgr/utils.py caps=work
lib/clckwrkbdgr/winnt/__init__.py caps=work
lib/clckwrkbdgr/winnt/registry.py caps=work
lib/clckwrkbdgr/winnt/shell.py caps=work
lib/clckwrkbdgr/winnt/test/__init__.py caps=work
lib/clckwrkbdgr/winnt/test/test_registry.py caps=work
lib/clckwrkbdgr/winnt/test/test_winnt.py caps=work
lib/clckwrkbdgr/workstation.py caps=work
lib/clckwrkbdgr/xdg.py caps=work
lib/click.3.bash caps=work
lib/click.bash caps=work
lib/colors.bash caps=work
lib/desktop.bash caps=work
lib/miniclick.bash caps=work
lib/path.bash caps=work
lib/prompt.bash caps=work
lib/setup.cfg caps=work
lib/sound.bash caps=work
lib/test/test_arrays.bash caps=work
lib/test/test_click.bash caps=work
lib/test/test_colors.bash caps=work
lib/test/test_filterconf.bash caps=work
lib/test/test_miniclick.bash caps=work
lib/test/test_path.bash caps=work
lib/test/test_unittest.bash caps=work
lib/test/test_utils.bash caps=work
lib/test/test_zipdump.bash caps=work
lib/unittest.bash caps=work
lib/utils.bash caps=work
lib/utils.sh caps=work
lib/windowmanager.bash caps=work
lib/workstation.sh caps=work
lib/xdg.bash caps=work
lib/xdg.sh caps=work
mailx/mailrc caps=work
mc/ini caps=work
mc/mc.ext caps=work
mc/panels.ini caps=work
patch/when-1.1.36-xdg.patch caps=work
profile caps=work
ranger/colorschemes/umi.py caps=work
ranger/rc.conf caps=work
ranger/rifle.conf caps=work
ranger/scope.sh caps=work
screenrc caps=work
setup.d/00.symlinks.py caps=work
setup.d/01.gitconfig.py caps=work
setup.d/02.git.submodules.py caps=work
setup.d/05.tmp-on-tmpfs.py caps=work
setup.d/10.crontab.py caps=work
setup.d/20.XXkb.py caps=work
setup.d/20.lastfmsubmitd.py caps=work
setup.d/20.python-history.py caps=work
setup.d/20.when.patch.py caps=work
setup.py caps=work
subversion/config caps=work
tmux.conf caps=work
update_dotfiles.py caps=work
user-dirs.dirs caps=work
userstate.cfg caps=work
vim/after/ftplugin/c.vim caps=work
vim/after/ftplugin/cpp.vim caps=work
vim/after/ftplugin/markdown.vim caps=work
vim/after/ftplugin/python.vim caps=work
vim/autoload/ftplugin/python.vim caps=work
vim/autoload/pathogen.vim caps=work
vim/bundle/detectindent caps=work
vim/bundle/nerdtree caps=work
vim/bundle/pathogen caps=work
vim/bundle/vim-qfedit caps=work
vim/bundle/vim-surround caps=work
vim/bundle/vim-textile caps=work
vim/bundle/vimoutliner caps=work
vim/keymap/russian-badger.vim caps=work
vim/less.vim caps=work
vim/remove_empty_on_exit.vim caps=work
vim/restore.vim caps=work
vim/sessions.vim caps=work
vim/vimrc caps=work
when/preferences caps=work
windows/capslock.ahk caps=work
windows/disable_taskbar_preview.reg caps=work
windows/reg_exclude.lst caps=work
windows/reg_include.lst caps=work
windows/shebang.reg caps=work
windows/windows.reg caps=work
windows/workstation/onlock.pyw caps=work
windows/workstation/onlogoff.bat caps=work
windows/workstation/onlogon.bat caps=work
windows/workstation/onunlock.pyw caps=work
xdg/base.inc.sh caps=work
xdg/bin/svn caps=work
xdg/bin/wget caps=work
xdg/cache.inc.sh caps=work
xdg/config.inc.sh caps=work
xdg/data.inc.sh caps=work
xdg/path.inc.sh caps=work
xdg/runtime.inc.sh caps=work
xdg/state.inc.sh caps=work
xdg/xdg.inc.sh caps=work
