xfce4-desktop.xml filter=ignorewallpaper
xfce4-panel.xml filter=ignore_systray_visibility
moc/config filter=ignore_moc_fastdir
gajim/config filter=gajim_config
insteadrc filter=insteadrc_remove_state
firefox/stylish.sqlite filter=sqlite_text_dump
firefox/*.json filter=pretty_json
firefox/prefs.js filter=firefox_pref_js
firefox/gm_scripts/autoskipper/autoskipper.user.js filter=autoskipper_user_js
firefox/gm_scripts/config.xml filter=firefox_userscript_config
firefox/mimeTypes.rdf filter=firefox_mimetypes
purple/prefs.xml filter=pidgin_prefs
.freeciv-client-rc-2.4 filter=freeciv_rc
openttd/openttd.cfg filter=openttd_config
