xfce4-desktop.xml filter=ignorewallpaper
xfce4-panel.xml filter=ignore_systray_visibility
xfce4-notifyd.xml filter=remove_known_applications
xfce4-settings-manager.xml filter=remove_xfce_window_size
moc/config filter=ignore_moc_fastdir
gajim/config filter=gajim_config
insteadrc filter=insteadrc_remove_state
firefox/stylish.sqlite filter=sqlite_text_dump
firefox/*.json.lz4 filter=mozLz4
firefox/addonStartup.json.lz4 filter=addonStartupLz4
firefox/*.json filter=pretty_json
firefox/broadcast-listeners.json filter=firefoxBroadcastListeners
firefox/prefs.js filter=firefox_pref_js
firefox/gm_scripts/config.xml filter=firefox_userscript_config
firefox/mimeTypes.rdf filter=firefox_mimetypes
purple/prefs.xml filter=pidgin_prefs
.freeciv-client-rc-2.4 filter=freeciv_rc
openttd/openttd.cfg filter=openttd_config
openttd/windows.cfg filter=openttd_config
gtk-2.0/gtkfilechooser.ini filter=gtkfilechooser
gimp/menurc filter=gimp_menurc
gimp/pluginrc filter=gimp_pluginrc
gimp/tags.xml filter=gimp_tags
xfce4/xfce4-screenshooter filter=expand_homedir
*.bau filter=zipfile
*.bau diff
mc/ini filter=mc_ini
