[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/bundle/vimoutliner"]
	path = vim/bundle/vimoutliner
	url = https://github.com/vimoutliner/vimoutliner
[submodule "vim/bundle/vim-textile"]
	path = vim/bundle/vim-textile
	url = https://github.com/amiorin/vim-textile.git
[submodule "vim/bundle/detectindent"]
	path = vim/bundle/detectindent
	url = https://github.com/ciaranm/detectindent.git
[submodule "vim/bundle/vim-qfedit"]
	path = vim/bundle/vim-qfedit
	url = https://github.com/itchyny/vim-qfedit
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/bundle/ghost-text.vim"]
	path = vim/bundle/ghost-text.vim
	url = https://github.com/pandysong/ghost-text.vim
	ignore = untracked
