# Sadly this file isn't recognized by git by default.
# Should be either added manually to .git/config, or include'd in .git/config:
# [include]
# 	path = <full path to repo>/.gitconfig
[include]
	path = .gitfilters

[filter "zipfile"]
	smudge = "zipdump load"
	clean = "zipdump dump"
