# Sadly this file isn't recognized by git.
# Should be added manually to .git/config

[filter "ignorewallpaper"]
	smudge = cat
	clean = "sed '/name=\"image-path\"/d;/name=\"last-[^\"]*image\"/d'"

[filter "ignore_systray_visibility"]
	smudge = cat
	clean = "sed '/<property name=\"names-visible\" type=\"array\">/,/<\\/property>/d' | sed '/<property name=\"names-hidden\" type=\"array\">/,/<\\/property>/d'"

[filter "ignore_moc_fastdir"]
	smudge = cat
	clean = "sed '/^Fastdir[0-9][0-9]* *=/d'"

[filter "gajim_config"]
	smudge = cat
	clean = "sed 's/^ *\\(last_[a-z]\\+_dir\\|latest_disco_addresses\\|collapsed_rows\\|accounts[.][^ =]*[.]last_status_msg\\|accounts[.][^ =]*[.]ssl_fingerprint_sha1\\|accounts[.][^ =]*[.]password\\) *= *.*$/\\1 =/'"

[filter "insteadrc_remove_state"]
	smudge = cat
	clean = "sed 's/^game = .*$/game = /'"

[filter "sqlite_text_dump"]
	smudge = "sqlitedump --load"
	clean = "sqlitedump --dump"

[filter "pretty_json"]
	smudge = cat
	clean = "python -m json.tool"

[filter "firefox_pref_js"]
	smudge = clean-firefox-prefs.sh --restore
	clean = clean-firefox-prefs.sh

[filter "autoskipper_user_js"]
	smudge = cat
	clean = "sed 's/^\\(.*RESPONSE_JS_URL[^\"]*\\)\"[^\"]\\+\"\\(.*\\)$/\\1\"https:\\/\\/localhost\\/response.js\"\\2/'"
