.*.swp
*.pyo

vim/.netrwhist
moc/cache/
moc/last_directory
moc/pid
moc/playlist.m3u
moc/equalizer
moc/softmixer
w3m/cookie
w3m/history
zdoom/*.zds
prboom-plus/*.dsg
prboom-plus/*.dat
instead/saves/
_config/ranger/bookmarks
_config/ranger/history
_config/ranger/tagged
_config/ranger/colorschemes/__init__.py
