# setup
vintage
six
bs4
termcolor
click
click-default-group
click-aliases
# build
wheel
# todo
python-magic
# todo:win32 only
python-magic-bin
# todo:win64 only
python-magic-win64
# crontab
python-crontab
croniter
# unittest
coverage
pyfakefs
# userservice
pywin32
# clckwrkbdgr.firefox
lz4
# web
blackcompany
# vim: ghost-text
websockets
