/*************************
 * Check and Radio items *
 *************************/

/* draw regular check and radio items using our SVG assets */
.check,
.check row:selected,
.check row:selected:focus {
    background-image: url("assets/checkbox-unchecked.svg");
}

.check:disabled,
.check row:selected:disabled,
.check row:selected:focus:disabled {
    background-image: url("assets/checkbox-unchecked-insensitive.svg");
}

.check:active,
.check row:selected:active,
.check row:selected:focus:active {
    background-image: url("assets/checkbox-checked.svg");
}

.check:active:disabled,
.check row:selected:active:disabled,
.check row:selected:focus:active:disabled
{
    background-image: url("assets/checkbox-checked-insensitive.svg");
}

.check:indeterminate,
.check row:selected:indeterminate,
.check row:selected:focus:indeterminate {
    background-image: url("assets/checkbox-mixed.svg");
}

.radio,
.radio row:selected,
.radio row:selected:focus {
    background-image: url("assets/radio-unselected.svg");
}

.radio:disabled,
.radio row:selected:disabled,
.radio row:selected:focus:disabled {
    background-image: url("assets/radio-unselected-insensitive.svg");
}

.radio:active,
.radio row:selected:active,
.radio row:selected:focus:active {
    background-image: url("assets/radio-selected.svg");
}

.radio:active:disabled,
.radio row:selected:active:disabled,
.radio row:selected:focus:active:disabled {
    background-image: url("assets/radio-selected-insensitive.svg");
}

.radio:indeterminate,
.radio row:selected:indeterminate,
.radio row:selected:focus:indeterminate {
    background-image: url("assets/radio-mixed.svg");
}
