<UserScriptConfig>
	<Script basedir="Display_LaTeX" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="Display LaTeX in Web pages by transforming into MathML" enabled="true" filename="display-latex.user.js" installTime="0" modified="0" name="Display LaTeX" namespace="http://gold-saucer.afraid.org/mathml/greasemonkey/" noframes="false" runAt="document-end" updateMetaStatus="fail" uuid="812cb0b7-f1f2-409f-bf08-0ecf7eeb18c0" version="null" installurl="http://www.gold-saucer.org/mathml/greasemonkey/display-latex.user.js" updateurl="http://www.gold-saucer.org/mathml/greasemonkey/display-latex.user.js">
		<Grant>none</Grant>
		<Include>http://gold-saucer.afraid.org/mathml/greasemonkey/</Include>
		<Include>http://gold-saucer.afraid.org/writings/Display_LaTeX_sandbox</Include>
		<Include>http://planetmath.org/*</Include>
		<UserInclude>http://what-if.xkcd.com/*</UserInclude>
	</Script>
	<Script basedir="autoskipper" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="autoskipper.user.js" installTime="0" modified="0" name="autoskipper" namespace="chatvdvoem" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="5c11a5af-4ab3-4da6-876d-8efdeb5eea6d" version="1" installurl="file://$HOME/.config/firefox/gm_scripts/autoskipper/autoskipper.user.js" updateurl="file://$HOME/.config/firefox/gm_scripts/autoskipper/autoskipper.user.js">
		<Grant>none</Grant>
		<Include>https://chatvdvoem.ru/*</Include>
	</Script>
	<Script basedir="hide-specific-user" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="hide-specific-user.user.js" installTime="0" modified="0" name="hide-specific-user" namespace="lor" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="3b666fea-45bf-4528-bae9-5d1fbb034fcc" version="1" installurl="file://$HOME/.config/firefox/gm_scripts/hide-specific-user/hide-specific-user.user.js" updateurl="file://$HOME/.config/firefox/gm_scripts/hide-specific-user/hide-specific-user.user.js">
		<Grant>none</Grant>
		<Include>https://www.linux.org.ru/*</Include>
	</Script>
	<Script basedir="refreshgodville" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="Auto-closes Godville Hero screen when opened just for refresh" enabled="true" filename="refreshgodville.user.js" installTime="0" modified="0" name="refreshgodville" namespace="godville" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="728d36b3-835a-4f1c-a3d9-8fec40447405" version="1" installurl="file://$HOME/.config/firefox/gm_scripts/refreshgodville/refreshgodville.user.js" updateurl="file://$HOME/.config/firefox/gm_scripts/refreshgodville/refreshgodville.user.js">
		<Grant>window.close</Grant>
		<Include>https://godville.net/superhero#refresh</Include>
	</Script>
	<Script basedir="vk_download_full_album" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="For auto-downloading full albums which have some non-playing tracks" enabled="true" filename="vk_download_full_album.user.js" installTime="0" modified="0" name="vk download full album" namespace="vk" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="9960d151-080b-4be9-8cc4-f6a797535971" version="1" installurl="file://$HOME/.config/firefox/gm_scripts/vk_download_full_album/vk_download_full_album.user.js" updateurl="file://$HOME/.config/firefox/gm_scripts/vk_download_full_album/vk_download_full_album.user.js">
		<Grant>none</Grant>
		<Include>https://vk.com/*#badger</Include>
	</Script>
</UserScriptConfig>